body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;

}
.header{
    width: 100%;
    height:10%;
    background-color: #052426;
    background-image: url(../img/Images/logo-QuizzSA.png);
    background-size: 5% 100%;
    background-position: left;
    background-repeat: no-repeat;
   
   
}
.slogan{
    color: white;
    font-size: xx-large;
    margin-left: 40%;
    font-weight: bolder;
    padding-top: 1%;
    position: absolute;
   
}
.container{
    background-image: url(../img/Images/img-bg.jpg);
    background-size: cover;
    height: 90%;
}





