body{
	background-color: rgb(171,171,171);
}
.contener{
	width:50%;
	height: 525px;
	margin: auto;
	background-color: rgb(170,203,204);
	background-image: url("../Images/Images/img-bg.jpg");
}
.haut{
	width: 100%;
	height: 10%;
	background-color: rgb(5,36,38);
}
.text1{
	color: white;
	font-family: cursive;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-top: 10px;
	margin-left: 18%;
}

.img1{
	height:100%;
	width: 30px;
	display: block;
	margin-left:20px;
	float:left;
}
.bande{
	width: 95%;
	height: 50px;
	background-color: rgb(81,191,208);
	margin-left: 2.5%;
}
button{
	margin-right: 20px;
	margin-top: 7px;
	height: 35px;
	background-color: rgb(57,221,214);
	color: white; 
}

.text2{
	color: white;
	font-family: cursive;
	width: 75%;
	height: 40px;
	float: left;
	margin-top: 5px;
}
.form{
	width: 95%;
	margin-left: 2.5%;
	height: 420px;
	background-color: rgb(242,242,242);
}
.form1{
	float: left;
	width: 39%;
	height: 300px;
	margin-top: 25px;
}
.form2{
	float: right;
	width: 60%;
	height: 350px;
	background-color: grey;
}
.profil{
	width: 100%;
	height: 120px;
	background-color: rgb(178,227,234);
}
.menu{
	width: 100%;
	height: 180px;
	background-color: white;
}
a{
	text-decoration: none;
}
.roundeImage{
	position: absolute;
	border:1px black solid;
	border-radius: 50%;
	width: 90px;
	height: 90px;
	background: url("../Images/Images/Icones/profil2.png") no-repeat;
	margin-left: 10px;
	margin-top: 9px;
}
