body{
	background-color: rgb(171,171,171);
}
.contener{
	width:50%;
	height: 525px;
	margin: auto;
	background-color: rgb(170,203,204);
	background-image: url("../Images/Images/img-bg.jpg");
}
.haut{
	width: 100%;
	height: 10%;
	background-color: rgb(5,36,38);
}
.text1{
	color: white;
	font-family: cursive;
	justify-content: center;
	align-items: center;
	position: absolute;
	margin-top: 10px;
	margin-left: 18%;
}

.img1{
	height:100%;
	width: 30px;
	display: block;
	margin-left:20px;
	float:left;
}
.bande{
	width: 95%;
	height: 85px;
	background-color: rgb(81,191,208);
	margin-left: 2.5%;
	margin-top: 5px;
}
button{
	margin-right: 20px;
	margin-top: 7px;
	height: 35px;
	background-color: rgb(57,221,214);
	color: white; 
}

.text2{
	color: white;
	font-family: cursive;
	width: 75%;
	height: 40px;
	margin-top: 5px;
	font-size: 14px;

}

a{
	text-decoration: none;
}
.roundeImage{
	position: absolute;
	border:1px black solid;
	border-radius: 50%;
	width: 60px;
	height: 60px;
	margin-left: 10px;
	margin-top: 4px;
}
.form{
	width: 95%;
	height: 375px;
	background-color: white;
	margin-left: 2.5%;
}
